let mapleader=" "
set clipboard+=unnamed
vnoremap d "_d
vnoremap c "_c
vnoremap C "_C
vnoremap D "_D
nnoremap d "_d
noremap c "_c
noremap C "_C
noremap D "_D
noremap x "_x
noremap Y y$

map <c-t> <Action>(ActivateTerminalToolWindow)
map <leader>e <Action>(ActivateProjectToolWindow)
map [[ <Action>(MethodUp)
map ]] <Action>(MethodDown)
map <leader>r <Action>(RunClass)
map ge <Action>(GotoNextError)
map gE <Action>(GotoPreviousError)
map <leader>v <c-v>
map <leader>f <Plug>(easymotion-s)
map <leader><tab> <Action>(Switcher)
map <leader>u <Action>(FindUsages)
map <leader>n <Action>(GotoClass)
map gd <Action>(GotoDeclaration)
map gi <Action>(GotoImplementation)
map gt <Action>(GotoTest)
map gb <Action>(Back)
map gf <Action>(Forward)
map <c-s> <Action>(FileStructurePopup)
set ideajoin
map <home> <Action>(EditorLineStart)
imap <home> <Action>(EditorLineStart)

set scrolloff=5
set sidescrolloff=5
set relativenumber
" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

Plug 'easymotion/vim-easymotion'
set easymotion
